<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">


<title>bs4 simple chat app - Bootdey.com</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" rel="stylesheet">


<body>
  {% extends 'base.html' %}

  {% block content %}
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container">

    <!-- Page header start -->
    <div class="page-title">
      <div class="row gutters">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
              <h5 class="title">Chat App</h5>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"> </div>
      </div>
      <head>
        <link
        rel="stylesheet"
        href="{{url_for('static', filename='css/test.css')}}"
        />
      </head>
  </div>
  <!-- Page header end -->

    <!-- Content wrapper start -->
  <div class="content-wrapper">

    <!-- Row start -->
    <div class="row gutters">

      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        
        <div class="card m-0">
          
          <!-- Row start -->
          <div class="row no-gutters">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
              <div class="users-container">
                <div class="chat-search-box">
                  <div class="input-group">
                    <input class="form-control" placeholder="Search" style="width: 100px;">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-info">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <ul class="users">
                  <li class="person" data-chat="person1">
                    <div class="user">
                      <img src="{{url_for('static', filename='img/1.png')}}">
                      <span class="status busy"></span>
                    </div>
                    <p class="name-time">
                      <span class="name">team 13 (3)</span>
                      <span class="time">12/12</span>
                    </p>
                  </li>
                  <li class="person" data-chat="person1">
                    <div class="user">
                      <img src="{{url_for('static', filename='img/2.png')}}">
                      <span class="status offline"></span>
                    </div>
                    <p class="name-time">
                      <span class="name">work team (15)</span>
                      <span class="time">12/02 </span>
                    </p>
                  </li>
                  <li class="person active-user" data-chat="person2">
                    <div class="user">
                      <img src="{{url_for('static', filename='img/3.png')}}">
                      <span class="status busy"></span>
                    </div>
                    <p class="name-time">
                      <span class="name">family (5)</span>
                      <span class="time">12/02  </span>
                    </p>
                  </li>
                  <li class="person" data-chat="person3">
                    <div class="user">
                      <img src="{{url_for('static', filename='img/4.png')}}">
                      <span class="status busy"></span>
                    </div>
                    <p class="name-time">
                      <span class="name">friends (8)</span>
                      <span class="time">12/02 </span>
                    </p>
                  </li>
                  <li class="person" data-chat="person4">
                    <div class="user">
                      <img src="{{url_for('static', filename='img/1.png')}}">
                      <span class="status offline"></span>
                    </div>
                    <p class="name-time">
                      <span class="name">meeting (6)</span>
                      <span class="time">08/03 </span>
                    </p>
                  </li>
                  <li class="person" data-chat="person4">
                    <div class="user">
                      <img src="{{url_for('static', filename='img/5.png')}}">
                      <span class="status offline"></span>
                    </div>
                    <p class="name-time">
                      <span class="name">private (3)</span>
                      <span class="time">08/02 </span>
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
              <div class="selected-user">
                <h2>Chat Room: {{code}}</h2>
              </div>
              <div class="chat-container">
                <ul class="chat-box chatContainerScroll">
                  <div class="messages" id="messages"></div>
                </ul>
    
              </div>
              <div class="form-group mt-3 mb-0" style="position: absolute; bottom: 0; width: 100%;">
                <div id="typing-indicator" class = "word"></div>
                <div class="no" style="display: flex; align-items: center;">
                  <input class="form-control" rows="3" type="text" rows="3" placeholder="Message" name="message" id="message" />
                  <button type="button" name="send" id="send-btn" onClick="sendMessage()">
                    Send
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Row end -->
        </div>
      </div>
    </div>
    <!-- Row end -->
  </div>
  <!-- Content wrapper end -->
  <script type="text/javascript">
    var socketio = io();
    var typingTimer;
    var predata;
    var recent;



    function handletyping(message, callback) {
      clearTimeout(typingTimer);
      typingTimer = setTimeout(function () {
          fetch('/process_message', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                  message: message, //傳入現在訊息
              }),
          })
          .then(response => response.json())
          .then(data => {
              callback(data.result); //回傳地方
          })
          .catch(error => console.error('Error:', error));
      }, 500); //每0.5秒傳入一次
  }

    
    const messages = document.getElementById("messages");
    document.getElementById("message").addEventListener("input", function (event) {
      var message = event.target.value;
      var now_mes;
      var typingIndicator = document.getElementById('typing-indicator');

      //now_mes = handletyping(message);

      handletyping(message, function(data) {
        if(data == '') typingIndicator.innerHTML = 'nothing is typing...</p>';
        else typingIndicator.innerHTML = '<p>' + data ;
      });

      
    });
    const createMessage = (name, msg, username) => {
      const textAlign = 'left';
      console.log(msg);
        const content = (msg == 'has entered the room' || msg == 'has left the room')?`
                <li class="chat-left" style = "margin-top: 10px; margin-bottom: 10px;">
                  <div>
                    <span style="textAlign: ${textAlign};">
                        <strong>${name}</strong> ${msg}
                    </span>
                    <span class="muted">
                        ${new Date().toLocaleString()}
                    </span>
                  </div>
                </li>
                `:
                `<li class="chat-left" style = "margin-top: 5px; margin-bottom: 5px;">
                      <div class="chat-avatar">
                        <div class="chat-name">${name} </div>
                      </div>
                      <div class="chat-text">${msg}</div>
                      <div class="chat-hour">${new Date().toLocaleString()}<span class="fa fa-check-circle"></span></div>
                  </li>
                `;
        messages.innerHTML += content;
      };
    socketio.on("message", (data) => {
      //var name = socketio.emit("name");
      //const isSelf = data.name === name; // Replace with your actual username
      createMessage(data.name, data.message, data.user);
    });
    const sendMessage = () => {
      const message = document.getElementById("message");
      if (message.value == "") return;
      socketio.emit("message", { data: message.value });
      message.value = "";
      handletyping('', function(data) {
        // 在這裡處理回傳值 data
        //console.log(data);
        var typingIndicator = document.getElementById('typing-indicator');  
        if(data == '') typingIndicator.innerHTML = 'nothing is typing...</p>';
        else typingIndicator.innerHTML = '<p>' + data ;
      });
    };
  </script>
  {% for msg in messages %}
  <script type="text/javascript">
    createMessage("{{msg.name}}", "{{msg.message}}");
  </script>
  {% endfor %}
  {% endblock %}
</body>